<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>965611682906-jqoshu41v9oi5l2nk50dobu11ohpr4c2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.965611682906-jqoshu41v9oi5l2nk50dobu11ohpr4c2</string>
	<key>API_KEY</key>
	<string>AIzaSyCotGxYOqs2C3vHiT5fIJ2prqSSRLihVO0</string>
	<key>GCM_SENDER_ID</key>
	<string>965611682906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marcinwozniak.whenWasThat</string>
	<key>PROJECT_ID</key>
	<string>cantwait90567</string>
	<key>STORAGE_BUCKET</key>
	<string>cantwait90567.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:965611682906:ios:e758638120c0e8b184ac63</string>
</dict>
</plist>